img {
  height: 100%;
}

li:hover {
  cursor: pointer;
}

ul.thumbs.animated {
  padding: none;
}

.carousel {
  display: flex;
  justify-content: center;
}

.carousel .slide {
  height: 90vh;
}

.slide {
  width: 20vw;
}

.slide:hover {
  cursor: default;
}

.slider-wrapper.axis-horizontal {
  width: 55vw;
}

.carousel .slide img {
  max-height: 80%;
  width: auto;
}

@media only screen and (max-width: 1650px) {
  .slider-wrapper.axis-horizontal {
    width: 50vw;
  }

  .carousel .slide img {
    max-height: 70%;
  }
}

@media only screen and (max-width: 1450px) {
  .slider-wrapper.axis-horizontal {
    width: 60vw;
  }

  .carousel .slide img {
    max-height: 70%;
  }
}

@media only screen and (max-width: 1200px) {
  .slider-wrapper.axis-horizontal {
    width: 100vw;
  }

  .carousel .slide img {
    max-height: 65%;
  }
}

@media only screen and (max-width: 770px) {
  .slider-wrapper.axis-horizontal {
    width: 100vw;
  }

  .carousel .slide img {
    max-height: 60%;
  }
}

@media only screen and (max-width: 735px) {
  .slider-wrapper.axis-horizontal {
    width: 100vw;
  }

  .carousel .slide img {
    max-height: 55%;
  }
}

@media only screen and (max-width: 605px) {
  ul.thumbs.animated {
    display: none;
  }
  .slider-wrapper.axis-horizontal {
    width: 100vw;
  }

  .carousel .slide img {
    max-height: 45%;
  }
}

@media only screen and (max-width: 420px) {
  ul.thumbs.animated {
    display: none;
  }
  .slider-wrapper.axis-horizontal {
    width: 100vw;
  }

  .carousel .slide img {
    max-height: 45%;
  }
}

@media only screen and (max-width: 375px) {
  ul.thumbs.animated {
    display: none;
  }

  .slider-wrapper.axis-horizontal {
    width: 100vw;
  }

  .carousel .slide img {
    max-height: 40%;
  }
}
