img {
  height: 80%;
}

li:hover {
  cursor: pointer;
}

.carousel {
  display: flex;
  justify-content: center;
}

.carousel .slide {
  height: 90vh;
}

.slide {
  width: 20vw;
}

.slide:hover {
  cursor: default;
}

.slider-wrapper.axis-horizontal {
  width: 50vw;
}

.carousel .slide img {
  max-height: 100%;
  width: auto;
}

@media only screen and (max-width: 1200px) {
  .slider-wrapper.axis-horizontal {
    width: 100vw;
  }

  .carousel .slide img {
    max-height: 65%;
  }
}

@media only screen and (max-width: 600px) {
  .slider-wrapper.axis-horizontal {
    width: 100vw;
  }

  .carousel .slide img {
    max-height: 40%;
  }
}
